<header class="header">
  <div class="l-container header__inner">
    <div class="header__list">
      <div class="header__item">
        <a class="header__link" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home page</a>
      </div>
      <div class="header__item">
        <a class="header__link" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/manage">Management</a>
      </div>
      <div class="header__item">
        <a class="header__link" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/tabs">Tab Menu</a>
      </div>
    </div>
  </div>
</header>
